[mysqld]
    datadir = /var/lib/mysql
    socket  = /var/run/mysql/mysql.sock
    bind_address=*
    port = 3306
    user = mysql
    bind-address = 0.0.0.0
    skip-networking = 0
    pid-file = /var/run/mysqld/mysqld.pid